@font-face {
	font-family: "Inter";
	src: local("Inter"), url("/uma-tools/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans JP";
	src: local("Noto Sans JP"), url("/uma-tools/fonts/NotoSansJP-VariableFont_wght.ttf") format("truetype");
}

:root {
	/*--uma1-color: rgb(35, 178, 246);
	--uma2-color: rgb(255, 111, 183);*/
	--uma1-color: rgb(42, 119, 197);
	--uma2-color: rgb(197, 42, 42);
}

body {
	font-family: Inter, "Noto Sans JP", sans-serif;
	margin-bottom: 0;
}

button { font-family: Inter, "Noto Sans JP", sans-serif; }

.hidden { display: none; }

#app {
	display: flex;
	height: 99vh;
}

#nonUmaPanes {
	background: rgb(248, 248, 248);
	border: 2px solid rgb(170, 221, 154);
	border-radius: 12px;
	display: flex;
	margin: 0 -4px 0 4px;
	padding-top: 4px;
	width: 100%;
}

#midPane {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-left: 20px;
	overflow-y: clip;
	width: 980px;
}

#modeBar {
	border-radius: 36px;
	box-shadow: 0px 3px 0 rgb(180, 178, 192);
	box-sizing: border-box;
	display: flex;
	margin-bottom: -3px;
}

.modeBtn {
	background: linear-gradient(rgb(255, 255, 255), rgb(232, 231, 239)) padding-box, linear-gradient(rgb(208, 208, 208), rgb(156, 155, 163)) border-box;
	border: 2px solid transparent;
	border-right: none;
	color: rgb(121, 64, 22);
	flex: 1;
	font: bold 1em Inter, "Noto Sans JP", sans-serif;
	line-height: 2em;
	padding: 0;
	text-align: center;
}

.modeBtnActive + .modeBtn {
	border-left: none;
}

.modeBtn:first-child {
	border-radius: 36px 0 0 36px;
}

.modeBtn:last-child {
	border-radius: 0 36px 36px 0;
	border-right: 2px solid transparent;
}

.modeBtn.modeBtnActive {
	background: linear-gradient(rgb(168, 227, 5), rgb(97, 174, 22)) padding-box, linear-gradient(rgb(173, 219, 60), rgb(85, 143, 24)) border-box;
	border-right: 2px solid transparent;
	color: white;
}

#sidebar {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	margin: 0 auto;
	padding: 0 8px;
}

#seedWrapper {
	display: flex;
}

#seed {
	flex: 1 1 auto;
	width: 130px;
}

#run {
	font-size: 1.6em;
	margin: 16px 0;
}

#rtMouseOverBox > text {
	paint-order: stroke;
	stroke: #fff;
	stroke-width: 3px;
}

#buttonsRow {
	align-items: center;
	display: flex;
	gap: 20px;
	margin-left: 20px;
	margin-top: -10px;
	position: relative;
	width: 960px;
}

.presetSelect {
	border: none;
	margin-left: -16px;
	padding: 0;
}

.presetSelect > legend {
	background: rgb(224, 214, 204);
	border-top-left-radius: 8px;
	color: rgb(121, 64, 22);
	font-size: 0.6em;
	font-weight: bold;
	line-height: 1.2em;
	position: absolute;
}

.presetSelect > legend::after {
	border-color: rgb(224, 214, 204) transparent transparent transparent;
	border-style: solid;
	border-width: 1.2em 0.34em 0 0;
	content: '';
	height: 0;
	position: absolute;
	right: -0.31em;
	width: 0;
}

.presetSelect > select {
	background: #fff;
	border: 2px solid rgb(224, 214, 204);
	border-radius: 8px;
	color: rgb(121, 64, 22);
	font-weight: bold;
	padding: 0.7em;
}

.trackSelect > select {
	background: #fff;
	border: 2px solid rgb(224, 214, 204);
	border-radius: 0 8px 8px 0;
	color: rgb(121, 64, 22);
	font-weight: bold;
	max-width: 140px;
	padding: 0.7em;
}

.trackSelect > select:first-child {
	border-radius: 8px 0 0 8px;
	border-right: none;
}

#buttonsRow > div {
	display: flex;
}

.spacer {
	flex: 1;
}

.groundSelect {
	background: inherit;
	border: none;
	color: rgb(121, 64, 22);
	font-size: 1.2em;
	font-weight: bold;
	padding: 0;
	text-align: right;
}

.weatherSelect {
	display: flex;
	margin-left: 5px;
}

#buttonsRow img {
	height: 2em;
}

#buttonsRow img:not(.selected) {
	filter: grayscale(0.9);
}

.hasResults .racetrackView > svg text:not(.mouseoverText) {
	filter: opacity(0.3);
}

.racetrackView .textbox text {
	filter: none !important;  /* TODO */
	font-weight: bold;
}

#resultsPaneWrapper {
	background: rgb(242, 242, 242);
	border-radius: 4px 4px 0 0;
	display: flex;
	height: 100%;
	margin: 0 -4px;
	min-width: 100%;
	padding: 4px 4px 0 4px;
	position: relative;
	width: fit-content;
}

#resultsPane {
	align-items: center;
	display: flex;
	flex-direction: column;
}

#resultsPane.mode-compare, #resultsPane.mode-stacalc {
	margin-top: 10px;
}

#resultsPane.mode-chart {
	width: 980px;
}

#resultsHelp {
	color: rgb(121, 64, 22);
	font-size: 0.7em;
	margin-top: 0.5em;
}

#resultsSummary {
	border-spacing: 15px 0;
}

#resultsSummary > tfoot th {
	color: rgb(121, 64, 22);
	cursor: pointer;
	font-size: 0.9em;
}

#resultsSummary > tfoot th.selected {
	text-decoration: underline;
}

#resultsSummary > tbody td {
	background: #fff;
	border: 2px solid rgb(224, 214, 204);
	border-radius: 100px;
	color: rgb(121, 64, 22);
	cursor: pointer;
	font-size: 2em;
	font-weight: normal;
	height: 64px;
	line-height: 0.8em;
	min-width: 80px;
	max-width: 80px;
	padding: 36px 20px 20px 20px;
	text-align: center;
}

#resultsSummary .unit-basinn {
	display: block;
	font-size: 0.5em;
}

strong.uma1 { color: var(--uma1-color); }
strong.uma2 { color: var(--uma2-color); }

#infoTables {
	display: flex;
	flex-direction: column;
	gap: 8px;
	height: 54vh;
	margin-left: 80px;
	margin-top: 10px;
	min-width: 500px;
	overflow-y: auto;
}

#infoTables > table {
	background: #fff;
	border-radius: 10px;
	border-spacing: 0;
	display: block;
	height: 26vh;
	overflow-y: auto;
	width: 100%;
}

#infoTables > table.uma1 {
	border: 2px solid var(--uma1-color);
}

#infoTables > table.uma2 {
	border: 2px solid var(--uma2-color);
}

#infoTables caption {
	background: #fff;
	border-radius: 10px 10px 0 0;
	height: 1.9em;
	position: fixed;
	text-align: left;
	width: 476px;
}

#infoTables caption > div {
	border-top-left-radius: 4px;
	color: white;
	line-height: 1.625em;
	padding: 2px 8px;
	position: relative;
	width: max-content;
}

#infoTables caption > div::after {
	border-style: solid;
	border-width: calc(1.625em + 4px) calc((1.625em + 4px) / 3.5) 0 0;
	content: '';
	height: 0;
	left: 100%;
	position: absolute;
	top: 0;
	width: 0;
}

#infoTables > .uma1 > caption > div {
	background: var(--uma1-color);
}

#infoTables > .uma1 > caption > div::after {
	border-color: var(--uma1-color) transparent transparent transparent;
}

#infoTables > .uma2 > caption > div {
	background: var(--uma2-color);
}

#infoTables > .uma2 > caption > div::after {
	border-color: var(--uma2-color) transparent transparent transparent;
}

#infoTables tbody {
	border-bottom: 1px solid rgb(121, 64, 22);
	display: block;
	margin-top: -2px;
	padding: 0 12px;
	width: 450px;
}

#infoTables tbody:first-of-type {
	line-height: 1.4em;
}

#infoTables tbody:last-of-type {
	border: none;
}

/* cant have normal margins on table elements for some reason */
#infoTables tbody::before, #infoTables tbody::after {
	content: '';
	display: block;
	height: 10px;
}

#infoTables > table tr {
	display: table;
	table-layout: fixed;
	width: 450px;
}

#infoTables > table th {
	align-items: center;
	color: rgb(121, 64, 22);
	display: flex;
	font-weight: bold;
	gap: 4px;
	overflow: hidden;
	text-align: left;
	text-wrap: nowrap;
}

#infoTables > table th > img {
	height: 1.5em;
}

#infoTables > table td {
	font-family: monospace;
	width: 160px;
}

#umaPane {
	min-width: 700px;  /* needed for when this is a placeholder to consume grid space when uma pane is expanded */
}

#umaPane > div {
	display: none;
	height: 99vh;
}

#umaPane > div.selected {
	display: block;
}

#umaPane .horseDef {
	border-top: none;
}

.umaTabs {
	background: none;
	display: flex;
	margin: -6px 0;
	padding: 0;
	text-align: left;
}

.umaTab {
	align-items: center;
	background: linear-gradient(white, rgb(228, 227, 234));
	color: rgb(121,64,22);
	display: flex;
	flex: 1;
	outline: 2px solid rgb(216, 217, 220);
	padding: 6px 0 6px 20px;
}

.umaTab > span {
	flex: 1;
}

.umaTab:first-child {
	border-top-left-radius: 12px;
}

.umaTab:last-child {
	border-top-right-radius: 12px;
}

.umaTab.selected {
	background: linear-gradient(rgb(153, 219, 68), rgb(112, 190, 18));
	color: white;
	outline: 2px solid rgb(170, 221, 154);
	z-index: 1;
}

#expandBtn {
	background: linear-gradient(#99db44,#70be12);
	border: 2px solid rgb(170,221,154);
	border-radius: 6px;
	cursor: default;
	height: 34px;
	margin-right: 10px;
	position: relative;
	width: 34px;
}

#expandBtn::after {
	border-right: 2px solid white;
	border-top: 2px solid white;
	content: "";
	display: block;
	height: 15px;
	left: 4px;
	position: absolute;
	top: 8px;
	transform: rotate(45deg);
	width: 15px;
}

.selected > #expandBtn {
	background: linear-gradient(#fff,#e4e3ea);
	border: 2px solid rgb(216,217,220);
}

.selected > #expandBtn::after {
	border-right: 2px solid rgb(121,64,22);
	border-top: 2px solid rgb(121,64,22);
}

#umaOverlay {
	background: white;
	border: 1px solid rgb(148, 150, 189);
	border-left: none;
	border-radius: 0 12px 12px 0;
	display: flex;
	gap: 30px;
	height: calc(100vh - 18px);
	left: 0;
	margin-left: 2px;
	padding: 6px;
	position: fixed;
	top: 0;
	z-index: 1;
}

#closeUmaOverlay {
	color: rgb(148, 150, 189);
	cursor: default;
	font-size: 2em;
	height: 2em;
}

#copyUmaButtons {
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: center;
}

#copyUmaButtons > div {
	background: linear-gradient(rgb(255, 255, 255), rgb(228, 224, 233));
	border: 2px solid rgb(181, 174, 187);
	border-radius: 8px;
	height: 60px;
	line-height: 60px;
	position: relative;
	width: 60px;
}

#copyUmaButtons > div::after {
	border-top: 2px solid rgb(121, 64, 22);
	border-right: 2px solid rgb(121, 64, 22);
	content: '';
	display: block;
	height: 30px;
	position: absolute;
	width: 30px;
}

#copyUmaToRight::after {
	left: 15px;
	top: 25px;
	transform: rotate(45deg) translate(-15px,0);
}

#copyUmaToLeft::after {
	bottom: 25px;
	right: 15px;
	transform: rotate(-135deg) translate(-15px,0);
}

#swapUmas {
	color: rgb(121, 64, 22);
	font-size: 36px;
	text-align: center;
}

#swapUmas::after {
	display: none !important;
}

#basinnChartWrapperWrapper {
	position: relative;
	width: 100%;
}

#extendedOptionsRow {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: calc(55vh - 2px);
}

#basinnChartSelect {
	border: none;
	display: flex;
	flex-direction: column;
}

#basinnChartSelectButtons {
	display: flex;
	gap: 6px;
}

#basinnChartSelectButtons > button {
	min-width: 0;
}

#basinnChartRefresh {
	background: unset;
	border: unset;
	color: rgb(255, 145, 28);
	font-size: 26px;
	position: absolute;
	right: -36px;
	top: -6px;
	transition: all 100ms;
}

#basinnChartRefresh:hover {
	transform: scale(1.3);
}

.basinnChartPopover {
	background: white;
	border: 2px solid rgb(181, 174, 187);
	border-radius: 6px;
	display: flex;
	height: 333px;
	left: 0;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 845px;
	z-index: 50;
}

.basinnChartPopover .expandedSkill {
	width: 345px;
}

@media (orientation: portrait) {
	body {
		overflow: unset;
	}

	#app {
		flex-direction: column;
	}

	#umaPane {
		height: 67vh;
		width: 100vw;
	}

	#expandBtn {
		display: none;
	}

	#nonUmaPanes {
		flex-direction: column-reverse;
	}

	#midPane {
		margin-left: 0;
	}

	#sidebar {
		align-items: center;
		column-gap: 20px;
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 26px;
		margin: 0 auto;
		width: 96vw;
	}

	#sidebar > fieldset {
		display: flex;
	}

	#resultsPaneWrapper {
		flex-direction: column;
	}

	#extendedOptionsRow {
		flex-direction: row;
		height: auto;
	}

	#basinnChartSelect {
		flex-direction: row;
	}
}
