.stacalcWrapper {
	display: flex;
	gap: 24px;
	padding: 0 12px;
}

.stacalcPane {
	color: rgb(121, 64, 22);
	display: flex;
	flex: 1;
	flex-direction: column;
	font-weight: bold;
}

.stacalcPane:first-child {
	align-items: center;
}

.stacalcPane > h1 {
	font-size: 1em;
	margin: 0 0 6px 0;
	width: 100%;
}

.reqStamCalc > label {
	cursor: text;
}

.reqStamCalc > input {
	background: unset;
	border: none;
	color: rgb(121, 64, 22);
	font-size: 0.95em;
	font-weight: bold;
	text-align: right;
	width: 5ch;
}

/* force chrome to always show spinbutton arrows */
.reqStamCalc > input[type="number"]::-webkit-outer-spin-button,
.reqStamCalc > input[type="number"]::-webkit-inner-spin-button {
	opacity: 1;
}
