.filterButton {
	background: rgb(214,207,231);
	border: none;
	box-shadow: 0 3px 0 rgb(180,178,192);
	color: rgb(121,64,22);
	padding: 0.8em;
	margin: 10px 5px;
	text-stroke: 1px rgb(121,64,22);
	-webkit-text-stroke: 1px rgb(121,64,22);
}

.filterButton.active {
	background: rgb(86,171,51);
	box-shadow: 0 3px 0 rgb(86,171,51);
	color: white;
	text-stroke: 1px white;
	-webkit-text-stroke: 1px white;
}

.iconFilterButton {
	all: unset;
	background-size: contain;
	filter: grayscale(1);
	height: 40px;
	margin: 5px;
	width: 40px;
}

.iconFilterButton.active {
	filter: none;
}

.filterSearch {
	margin: 3px 5px;
	padding: 0.8em;
	width: calc(100% - 26px);
}

.skillList {
	display: grid;
	gap: 16px 12px;
	grid-template-columns: repeat(auto-fit, 288px);
	list-style-type: none;
	padding: 0;
}

.skill {
	align-items: center;
	border-radius: 8px;
	border: 2px solid transparent;
	box-shadow: 0 3px 0 rgb(180,178,192);
	box-sizing: border-box;
	display: flex;
	height: 3em;
	overflow: hidden;
	padding: 5px;
}

.skill:active {
	box-shadow: none;
	filter: brightness(0.95);
}

.hidden, .skill.selected {
	display: none;
}

.skillName, .skillLv > label, .skillLv > input {
	color: rgb(121,64,22);
	overflow: hidden;
	text-stroke: 1px rgb(121,64,22);
	-webkit-text-stroke: 1px rgb(121,64,22);
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	text-wrap: nowrap;
}

.skillName { flex: 1; }
.skillLv { padding-left: 4px; }
.skillLv > input {
	background: none;
	border: none;
	font-size: 1em;
	width: 28px;
}
.skillLv > input::-webkit-outer-spin-button,
.skillLv > input::-webkit-inner-spin-button {
	opacity: 1;
}

.skillIcon {
	height: 2.2em;
	margin: 0 8px 0 0;
	width: 2.2em;
}

.skillDismiss {
	color: rgb(121,64,22);
	cursor: default;
	padding: 0 7px;
}

.skill-white {
	background: linear-gradient(90deg, rgb(255,243,247), rgb(181,178,198)) padding-box,
							linear-gradient(90deg, rgb(214,207,231), rgb(148,150,189)) border-box;
}

.skill-gold {
	background: linear-gradient(90deg, rgb(255,255,239), rgb(255,190,40)) padding-box,
							linear-gradient(90deg, rgb(255,223,115), rgb(255,166,16)) border-box;
}

.skill-pink {
	background: linear-gradient(90deg, rgb(255,238,239), rgb(255,155,211)) padding-box,
							linear-gradient(90deg, rgb(255,142,198), rgb(255,89,173)) border-box;
}

.skill-unique {
	background: linear-gradient(90deg, rgb(239,255,214), rgb(161,201,248), rgb(170,170,255), rgb(255,186,231)) padding-box,
							linear-gradient(90deg, rgb(197,255,190), rgb(189,235,255), rgb(195,208,255), rgb(255,138,222)) border-box;
}

.skillDetailsList {
	font-size: 16px;
	list-style-type: none;
}

.skillDetailsList > li {
	display: inline-block;
	vertical-align: top;
}

.expandedSkill {
	border-radius: 8px;
	border: 2px solid transparent;
	box-sizing: border-box;
	overflow: hidden;
	padding: 5px;
}

.expandedSkillHeader {
	align-items: center;
	display: flex;
	height: 2.1em;
	margin-bottom: 5px;
}

.skillDetails {
	border-style: solid;
	border-width: 2px 0 0 0;
	color: rgb(121,64,22);
}

.skillDetailsSection {
	border-style: solid;
	border-width: 0 0 1px 0; 
	margin-bottom: 8px;
	padding-bottom: 8px;
}

.skillDetailsSection:last-child {
	border: none;
	margin: 0;
	padding: 0;
}

.skillDetailsSection:first-child {
	border-width: 0;
	margin: 0;
	padding: 0;
}

.skill-white .skillDetails, .skill-white .skillDetailsSection {
	border-image: linear-gradient(rgb(172,172,182), rgb(169,169,181)) 90;
}

.skill-gold .skillDetails, .skill-gold .skillDetailsSection {
	border-image: linear-gradient(rgb(203,172,89), rgb(230,161,58)) 90;
}

.skill-pink .skillDetails, .skill-pink .skillDetailsSection {
	border-image: linear-gradient(rgb(230,173,202), rgb(228,43,161)) 90;
}

.skill-unique .skillDetails, .skill-unique .skillDetailsSection {
	border-image: linear-gradient(rgb(121,64,22), rgb(121,64,22)) 90;
}

.skillConditions {
	font-family: monospace;
	margin: 0 0 0.5em 0.5em;
}

.condition {
	margin-left: 0.7em;
}

.conditionOp {
	margin: 0 2px;
}

.conditionOp {
	opacity: 0.6;
}

.operatorAnd {
	float: left;
}

.operatorOrText {
	font-style: italic;
	margin-left: 10px;
	opacity: 0.8;
}

.skillEffects {
	display: table;
	margin-left: 0.5em;
}

.skillEffect {
	display: table-row;
}

.skillEffectType {
	display: table-cell;
}

.skillEffectValue {
	display: table-cell;
	padding-left: 1em;
}

.skillDuration {
	display: inline-block;
	margin-top: 0.5em;
}

.skillActivationEditor {
	column-gap: 12px;
	display: grid;
	grid-template-columns: auto 1fr;
}

.skillActivationEditor > select, .skillActivationParams > input[type="number"] {
	background: none;
	border: none;
	color: rgb(121, 64, 22);
	font-weight: bold;
	padding: 0;
}

.skillActivationParams {
	display: flex;
	grid-column-start: 2;
	margin-left: 4px;  /* chrome seems to render the select element above not quite exactly starting at its left edge, so add a bit of margin here to re-align with it */
}

@-moz-document url-prefix() {
	.skillActivationParams { margin-left: 0; }
}

.skillActivationParams > label {
	font-size: 0.833em;
	font-weight: bold;
}

.skillActivationParams > input[type="number"] {
	margin-right: 4px;
	width: calc(5ch + 16px);
}

/* force chrome to always show spinbutton arrows */
.skillActivationParams > input[type="number"]::-webkit-outer-spin-button,
.skillActivationParams > input[type="number"]::-webkit-inner-spin-button {
	opacity: 1;
}

.skillCost {
	align-items: flex-end;
	display: flex;
	width: fit-content;
}

.hintbtn {
	border: none;
	border-radius: 4px;
	display: inline-block;
	height: 18px;
	position: relative;
	text-align: center;
	width: 26px;
}

.hintbtn.hintDown {
	background: linear-gradient(rgb(228, 224, 233), rgb(255, 255, 255));
	outline: 2px solid rgb(181, 174, 187);
}

.hintbtn.hintUp {
	background: linear-gradient(rgb(168, 227, 5), rgb(97, 174, 22));
	outline: 2px solid rgb(85, 143, 24);
}

.hintbtn::before, .hintbtn::after {
	content: "";
	height: 12px;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 18px;
}

.hintbtn.hintDown::before, .hintbtn.hintDown::after {
	border-top: 2px solid rgb(181, 174, 187);
}

.hintbtn.hintUp::before, .hintbtn.hintUp::after {
	border-top: 2px solid rgb(85, 143, 24);
}

.hintbtn::before {
	border-top-left-radius: 3px;
	border-top-right-radius: 4px;
	left: -1px;
	transform: rotate(-36deg);
	transform-origin: top left;
}

.hintbtn.hintDown::before {
	background: linear-gradient(36deg, rgb(245, 243, 247), rgb(228, 224, 233) 50%);
}

.hintbtn.hintUp::before {
	background: linear-gradient(36deg, rgb(118, 189, 17), rgb(168, 227, 5) 50%);
}

.hintbtn::after {
	border-top-left-radius: 4px;
	border-top-right-radius: 3px;
	right: -1px;
	transform: rotate(36deg);
	transform-origin: top right;
}

.hintbtnDummyBackground {
	height: 5px;
	pointer-events: none;
	position: absolute;
	right: 2px;
	top: -4px;
	transform: rotate(36deg);
	width: 12px;
}

.hintDown .hintbtnDummyBackground {
	background: linear-gradient(-36deg, rgb(233, 229, 237), rgb(228, 224, 233) 30%);
}

.hintUp .hintbtnDummyBackground {
	background: linear-gradient(-36deg, rgb(153, 216, 9), rgb(168, 227, 5) 30%);
}

.hintbtnText {
	font-size: 18px;
	font-weight: bold;
	position: relative;
	top: -5px;
}

.hintDown .hintbtnText {
	color: rgb(121, 64, 22);
}

.hintUp .hintbtnText {
	color: white;
}

.hintbtn[disabled] {
	filter: brightness(0.5);
}

.hintDown {
	margin-bottom: 2px;
	transform: scaleY(-1);
	vertical-align: text-bottom;
}

.hintUp {
	margin-bottom: 2px;
	vertical-align: text-bottom;
}

.hintedCost {
	font-weight: bold;
	text-align: center;
	width: 29px;
}

.hintLevel {
	color: rgb(255, 145, 29);
	font-weight: bold;
	margin-left: 0.5em;
}

@media (orientation: portrait) {
	.skillList {
		grid-template-columns: 1fr;
	}

	.filterButton {
		font-size: 0.7em;
	}

	.iconFilterButton {
		height: 64px;
		width: 64px;
	}

	.filterSearch {
		font-size: 1em;
	}
}
